@{
    ViewData["Title"] = "Expotec - 2021";
}
<link rel="stylesheet" href="~/css/home.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

<div class="container-fluid testeback" style="margin-bottom: -100px;">
  <div class="row">
    <div class="col-md-6 eufaco">
      <h1>Tenha responsabilidade com sua vida social e financeira com á  <span style="color: #17a2b7;">Expotec</span> </h1>
    </div>
    <div class="col-md-6 d-flex justify-content-center ">
       <img src="~/img/familia.png" class="imgTesteIso"> 
    </div>
  </div>
</div>


  <main id="main">
    <!-- ======= Featured Section ======= -->
    <section id="featured" class="featured">
      <div class="container">
        <div class="row">
            <div class="col-lg-4">
              <div class="icon-box">
                <i class="bi bi-card-checklist"></i>
                <h3><a href="">Organize suas tarefas </a></h3>
                <p>A organização de tarefas é possível ser exercida dentro de nossa plataforma, proporcionando à nossos usuários um maior aproveito de nossas ferramentas, e concebendo uma melhor administração de seu dia a dia.</p>
              </div>
            </div>
            <div class="col-lg-4 mt-4 mt-lg-0">
              <div class="icon-box">
                <i class="bi bi-bar-chart"></i>
                <h3><a href="">Informações da sua região</a></h3>
                <p>O diferencial na nossa plataforma para as demais é o recurso de consulta do atual estágio do covid, tanto na região quanto no estado em que você se localiza</p>
              </div>
            </div>
            <div class="col-lg-4 mt-4 mt-lg-0">
              <div class="icon-box">
                <i class="bi bi-binoculars"></i>
                <h3><a href="">Responsabilidade financeira</a></h3>
                <p>Em meio a essa pandemia muitos usuários tiveram dificuldade em mantém a sua estabilidade financeira, por esse motivo desenvolvemos uma página informativo afim a de ajudar nosso público alvo com dicas para manter e ter controle sobre os gastos mensais</p>
              </div>
            </div>
        </div>
      </div>
    </section><!-- End Featured Section -->
    

 



    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
           <img src="~/img/introduction.jpg" class="imgIntroduction">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3>Devida a pandemia encontramos algumas dificuldades socias em meio a plataformas web.</h3>
            <p class="fst-italic">
              onde poucas plataformas traziam informações de facil acesso para alguns usuarios, então a expotec trouxe isso de uma forma bem simples
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i>Informações de facil acesso</li>
              <li><i class="bi bi-check-circle"></i>Informações atualizadas diariamente</li>
              <li><i class="bi bi-check-circle"></i>Auxilio no controle de gastos </li>
              <li><i class="bi bi-check-circle"></i> Noticias atualizadas sobre pandemia</li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">

      <div class="text-center" style="width: 100%; margin-bottom:50px;">
        <h4 class="servicesTitle">Serviços</h4>
        <div class="text-center border"></div>
      </div>
      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><img src="~/img/estatisticas.png" class="imgOk"></div>
              <h4 class="mt-5"><a href="">Estatisticas da Região</a></h4>
              <p></p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><img src="~/img/tarefa.png" class="imgOk"></div>
              <h4 class="mt-5"><a class="mt-5">Organize suas tarefas</a></h4>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><img src="~/img/plano-de-negocios.png" class="imgOk"></div>
              <h4 class="mt-5"><a href="">Responsabilidade Financeira</a></h4>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><img src="~/img/bate-papo.png" class="imgOk"></div>
              <h4><a class="mt-5">Comunidade Aberta</a></h4>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><img src="~/img/consciencia.png" class="imgOk"></div>
              <h4><a class="mt-5">Informações sobre a pandemia</a></h4>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><img src="~/img/mascara-facial.png" class="imgOk"></div>
              <h4><a class="mt-5">Métodos de prevenção</a></h4>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Clients Section ======= -->

  </main><!-- End #main -->


  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <form>
              <div class="form-group">
                <label for="inputAddress">E-mail</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="Email:ricardo@gmail.com">
              </div>

              <div class="form-group">
                <label for="inputAddress2">Nome</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Nome: Ricardo">
              </div>

              <div class="form-group">
                <label for="exampleFormControlTextarea1">Assunto</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Assunto"></textarea>
              </div>

              <button type="submit" class="btn btn-primary d-flex">Enviar</button>
          </form>
        </div>
        <div class="col-md-6">
          <div class="map">
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3644.7705718968964!2d-46.4251105843864!3d-24.003877483968868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce1c34397ed821%3A0x8e5903717e8e809e!2sEscola%20Fortec%20Praia%20Grande!5e0!3m2!1spt-BR!2sbr!4v1634954255866!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
          </div>
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>

          </div>

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>About Eterna</h3>
            <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
            <div class="social-links mt-3">
              <a href="#" class=""><img src="~/img/facebook.png"></a>
              <a href="#" class=""><img src="~/img/instagram.png" style="width: 24px;"></a>
              <a href="#" class="google-plus"><img src="~/img/whatsapp.png"></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Expotec</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/eterna-free-multipurpose-bootstrap-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

<script src="~/js/site.js"></script>
 
    
<!--====== CONTACT PART ENDS 
<footer id="footer" class="footer-area bg_cover" style="background-image: url(assets/images/footer-bg.jpg)">
        <div class="container">
            <div class="footer-widget pt-30 pb-70">
                <div class="row">
                    <div class="col-lg-3 col-sm-6 order-sm-1 order-lg-1">
                        <div class="footer-about pt-40">
                            <a href="#">
                                <img src="assets/images/logo.png" alt="Logo">
                            </a>
                            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, repudiandae! Totam, nemo sed? Provident.</p> <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus</p>
                        </div> <!-- footer about 
                    </div>
                    <div class="col-lg-3 col-sm-6 order-sm-3 order-lg-2">
                        <div class="footer-link pt-40">
                            <div class="footer-title">
                                <h5 class="title">Services</h5>
                            </div>
                            <ul>
                                <li><a href="#">Business Consultancy</a></li>
                                <li><a href="#">Digital Marketing</a></li>
                                <li><a href="#">Market Analysis</a></li>
                                <li><a href="#">Web Development</a></li>
                            </ul>
                        </div> <!-- footer link -
                    </div>
                    <div class="col-lg-3 col-sm-6 order-sm-4 order-lg-3">
                        <div class="footer-link pt-40">
                            <div class="footer-title">
                                <h5 class="title">About Us</h5>
                            </div>
                            <ul>
                                <li><a href="#">Overview</a></li>
                                <li><a href="#">Why us</a></li>
                                <li><a href="#">Awards & Recognitions</a></li>
                                <li><a href="#">Team</a></li>
                            </ul>
                        </div> <!-- footer link --
                    </div>
                    <div class="col-lg-3 col-sm-6 order-sm-2 order-lg-4">
                        <div class="footer-contact pt-40">
                            <div class="footer-title">
                                <h5 class="title">Contact Info</h5>
                            </div>
                            <div class="contact pt-10">
                                <p class="text">21 King Street, Melbourne </br>
                                    Victoria, 1202 Australia.</p>
                                <p class="text">support@uideck.com</p>
                                <p class="text">+99 000 555 66 22</p>

                                <ul class="social mt-40">
                                    <li><a href="#"><i class="lni-facebook"></i></a></li>
                                    <li><a href="#"><i class="lni-twitter"></i></a></li>
                                    <li><a href="#"><i class="lni-instagram"></i></a></li>
                                    <li><a href="#"><i class="lni-linkedin"></i></a></li>
                                </ul>
                            </div> <!-- contact --
                        </div> <!-- footer contact --
                    </div>
                </div> <!-- row --
            </div> <!-- footer widget --
            <div class="footer-copyright text-center">
                <p class="text">© 2022 Crafted by <a href="https://uideck.com" rel="nofollow">UIdeck</a> All Rights Reserved.</p>
            </div>
        </div> <!-- container --
======-->