@{
    ViewData["Title"] = "Home Page";
}

<div class="container-teste">
    <div class="box1">
        <img src="" alt="">
    </div>
    <div class="box2">
        <input type="Login">
        <input type="Senha">
        <button>Botão</button>
    </div>
</div>   