<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" href="~/img/icone.png " type="image/png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/navbar.css" />
</head>
<body>
<div>
   <header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo">
        <h1><a asp-controller="home" asp-action="Index">Expotec</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a asp-controller="Home" asp-action="Index">Home</a></li>
          <li><a asp-controller="Home" asp-action="Sobre">Quem Somos ?</a></li>
          <li><a class="" asp-controller="Blog" asp-action="Index">Serviços</a></li>
          @if (Context.User.Identity.IsAuthenticated == false)
          {
            <a  asp-controller="Account" asp-action="Login">Login</a>
          }else{

            <form asp-controller="Account" asp-action="Logout" method="post">
              <button class="btn btn-info ml-4 mt-1" type="submit">Sair</button>
            </form>
            
          }
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header --> 
    @RenderBody()
</div>    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
